<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/homepage.js"></script>
</head>

<body>
<h1>Welcome to the Homepage, {{username}}!</h1>
<h2>See how your job statuses are looking!</h2>

<aside id="job-status-wrap">
<form id="jobStatusForm">
  <div>
    <input class="input is-info" type="number" id="applied" name="applied" placeholder="Applied">
    <input class="input is-danger" type="number" id="interviewed" name="interviewed" placeholder="Interviewed">
    <input class="input is-warning" type="number" id="offered" name="offered" placeholder="Offered">
    <input class="input is-warning-light" type="number" id="declined" name="declined" placeholder="Declined">
    <div id="submit-btn-padding">
    <button class="button is-large is-responsive is-success is-rounded" type="submit">Submit</button>
    </div>
  </div>
</form>
</aside>
<div id="chartDiv"><canvas id="jobApplicationChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</div>

</body>

</html>


