<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Job Tracker </title>
</head>

<body>
     <header>
        <nav>
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

<main>Job Tracker
    <table id="jobTable"></table>
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Status</th>
            <th>Salary</th>
            <th>Location</th>
            <th>Notes</th>
        </tr>
    </thead>

    <form id="newJobForm">
        <input type="text" id="jobTitle" name="jobTitle" placeholder="Job Title" required>
            <select id="jobStatus" name="jobStatus" required>
                <option value="applied">Applied</option>
                <option value="interviewed">Interviewed</option>
                <option value="offer">Offer</option>
                <option value="declined">Declined</option>
            </select>
            <input type="text" id="jobSalary" name="jobSalary" placeholder="Salary" required>
            <input type="text" id="jobLocation" name="jobLocation" placeholder="Location" required>
            <input type="text" id="jobNotes" name="jobNotes" placeholder="Notes">
            <button type="submit">Add Job</button>
    </form>
</main>

</body>

</html>