body {
    background-color:aliceblue;
    height: 100vh;
}
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2A607C;
    color: #FFFFFF;
    text-decoration: none;
}
h1 {
    text-align: center;
    font-family: "Permanent Marker";
    font-size: 60px;
    text-shadow: 1px 1px black;
}
.nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    flex-direction: row;
}

h2 {
    text-align: center;
    font-family: "Permanent Marker";
    font-size: 40px;
    text-shadow: 1px 1px white;
}
#login-container {
    text-align: center;
    color: #2A607C;
    padding-top: 5px;
    font-family: "Permanent Marker";
    font-size: 30px;
}

#signup-container {
    text-align: center;
    color: #2A607C;
    padding-top: 5px;
    font-family: "Permanent Marker";
    font-size: 30px;
}

.nav-text-color {
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
}

#submit-btn-padding {
    padding-top: 20px;;
}

#login-btn-padding {
    padding-top: 20px;;
}

#table-spacing {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    justify-content: center;
    flex-direction: row;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

.create-job-padding {
    padding-top: 20px;
}

.add-job-btn-spacing {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#job-status-wrap {
    width: 40%;
    padding-top: 30px;
    padding-bottom: 20px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

#chartDiv {
    float: right;
    padding-right: 180px;
}

.homepage-field-spacing {
    padding-top: 10px;
}